.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* 上下中央揃え */
  justify-content: center; /* 左右中央揃え */
  height: 98vh; /* ビューポートの高さに合わせる */
  min-width: 1200px;
  /* order: 1px solid #000; /* 黒い枠線を追加 (確認用) */
}

.content {
  display: flex;
  align-items: center; /* 上下中央揃え */
  justify-content: space-between; /* 左右中央揃え */
  padding: 10px; /* 内側の余白を追加 */
  margin: 10px; /* 外側の余白を追加 */
  border: 1px solid #000; /* 黒い枠線を追加 */
}

.search-result {
  flex: 1;
  margin: 10px;
  margin-right: 20px;
  margin-top: 0px;
  /*border: 1px solid #000; /* 黒い枠線を追加 (確認用) */
}

.map {
  /* Mapで定義した幅は400px */
  flex: 1;
  margin: 10px;
  border: 1px solid #000; /* 黒い枠線を追加 */
}
